.app {
  padding: 64px 128px;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100vw;
  background-color: var(--primary-darkest);
  display: flex;

  .app-spine {
    position: relative;
    flex-grow: 1;
    background-color: var(--primary-dark);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 12px 12px 16px 0px rgb(0 0 0 / 25%);

    .app-header {
      z-index: 1;
    }

    .app-main {
      height: 100%;
      width: 100%;
      padding-top: 176px;
      border-radius: 16px;
    }
  }

  .app-sidebar {
    width: 320px;
    background-color: black;
    margin-top: 80px;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
